* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
textarea {
  border: none;
  background: none;
  font: inherit;
}

:focus {
  outline: none;
}

.fix-size-container {
  max-width: 380px;
  padding-right: 20px;
  padding-left: 20px;
}

.header-wraper {
  padding-top: 20px;
}
.get-joke-btn {
  width: 152px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(91deg, #8ea7ff 0%, #7291ff 100%);
  color: #ffffff;
}
