/* =========================================
                RESET
========================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
textarea {
  background: none;
  border: none;
  font: inherit;
}

:focus {
  outline: none;
}

/* =========================================
          FIXED LAYOUT CONTAINER
========================================= */

.fix-size-container {
  max-width: 380px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Tablet */
@media (min-width: 768px) {
  .fix-size-container {
    max-width: 720px;
    padding: 0 32px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .fix-size-container {
    max-width: 1120px;
    padding: 0 40px;
  }
}

/* =========================================
                 HEADER
========================================= */

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 78px;
  width: 100%;
}

.header-burger-cont {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/* 
 MAIN CONTENT
 */

main {
  padding-bottom: 40px;
}

.hero-information {
  color: #333;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.83;
  margin: 8px 0 40px;
}

.jokeCards {
  margin-top: 16px;
}

/* ============ FORM ============ */

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.category-list-container {
  display: none;
}

.joke-type-label
  > input[value="categories"]:checked
  + .category-list-container {
  display: block;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 380px;
}

.category {
  border-radius: 6px;
  border: 2px solid #f8f8f8;
  padding: 5px 15px;
  cursor: pointer;
  color: #ababab;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.search-input {
  border-radius: 10px;
  border: 2px solid #333;
}
/* LIST OF JOKES */

.cards-of-joke-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
}

/* CARD */

.joke-card {
  max-width: 340px;
  width: 100%;

  border-radius: 20px;
  background: #f8f8f8;
  position: relative;
}

.icon-like {
  position: absolute;
  top: 20px;
  right: 20px;
}

.icon-message {
  position: absolute;
  left: 20px;
  top: 47px;
}

.icon-link {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.id-wrapper {
  display: flex;
  align-items: center;
  padding: 47px 20px 5px 80px;
  color: #ababab;
  font-size: 10px;
  font-weight: 500;
}

.card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  padding: 0 20px 20px 80px;
}

.last-update-info-text {
  font-size: 10px;
  color: #ababab;
  padding: 0 20px 20px 80px;
}

/* BUTTON */

.get-joke-btn {
  width: 152px;
  height: 42px;
  border-radius: 10px;
  background: linear-gradient(91deg, #8ea7ff 0%, #7291ff 100%);
  color: white;
  cursor: pointer;
}

/* 
 FAVORITES OVERLAY
 */

.favorites-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.favorites-overlay.active {
  display: flex;
}

.favorites-window {
  width: 100vw;
  height: 100vh;
  background: #f8f8f8;
  padding: 20px;
  overflow-y: auto;
}

.close-favorites {
  font-size: 22px;
  cursor: pointer;
  float: right;
}

/*  TABLET ADAPTIVE
 */

@media (min-width: 768px) {
  .joke-card {
    max-width: 100%;
  }

  .favorites-window {
    width: 80vw;
    height: 80vh;
    border-radius: 12px;
  }
}

/*  DESKTOP LAYOUT
 */

@media (min-width: 1280px) {
  main {
    display: grid;
    grid-template-columns: 2fr 1.1fr;
    gap: 40px;
    margin-top: 24px;
  }

  .favorites-overlay {
    position: static;
    height: auto;
    background: transparent;
    display: block;
  }

  .favorites-window {
    width: 100%;
    height: auto;
    background: #f8f8f8;
    border-radius: 12px;
    padding: 20px;
    overflow-y: visible;
  }

  .close-favorites {
    display: none;
  }
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category-label input[type="radio"] {
  display: none;
}

.category-label {
  padding: 5px 15px;
  border-radius: 6px;
  border: 2px solid #f8f8f8;
  color: #ababab;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.category-label input[type="radio"]:checked + span {
  color: #333;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.category-label:hover {
  border-color: #d0d0d0;
}
.category-badge {
  display: inline-block;
  margin: 0 20px 20px 80px;

  padding: 4px 16px;
  border-radius: 12px;
  background: #fff;

  color: #333;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 2px;
  text-transform: uppercase;
}
